# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
noisewalker_cpp/noisewalker_cpp

# ignore built libraries
inst/noise
# Makefile
install_output.log

# ignore data
data/*.csv
data/password
!data/parameters
.Rproj.user
inst/doc
data/*.Rdata
*.Rds

# qmake files
.qmake.stash

# ignore parameters data
data/parameters

# ignore data
data/output/*.Rdata

# ignore R files
.Rhistory

# ignore jobs
job_noisewalker*
job_script*